{% include _utils/common %}
<header id="header" class="header {% if page.layout == 'landing' %}text-center no-border{% endif %}" {% if general.header.background_image and page.layout == 'landing' %}
        style="background: url({{ general.header.background_image | prepend: site.baseurl }})"{% endif %}>
    <div class="container">
        <div class="branding">
            <h1 class="logo">
                <a href="{{ site.baseurl | default: page.url }}">
                    {% if general.header.logo %}
                        <img src="{{ general.header.logo | prepend: site.baseurl }}" class="{% unless page.layout == 'landing' %}logo-small{% endunless %}">
                    {% else %}
                        {% if general.header.icon %}
                            <span aria-hidden="true" class="icon {{ general.header.icon }}"></span>
                        {% endif %}
                        <span class="text-highlight">{{ general.header.title }}</span>
                        <span class="text">{{ general.header.subtitle }}</span>
                    {% endif %}
                </a>
            </h1>
        </div>
        {% if page.layout == 'landing' %}
            <div class="tagline">
                {% for tagline in general.header['tagline'] %}
                    <p>{{ tagline }}</p>
                {% endfor %}
            </div>
        {% else %}
            <ol class="breadcrumb">
                <li><a href="{{ site.baseurl }}">Home</a></li>
                {% for resource in resources %}
                    {% if resource == "" %}{% continue %}{% endif %}
                    {% assign resource_url =  resource_url | append: "/" | append: resource %}
                    {% if forloop.last == true %}
                        <li class="active">{{ page.title }}</li>
                    {% else %}
                        <li><a href="{{ resource_url }}">{{ resource | capitalize }}</a></li>
                    {% endif %}
                {% endfor %}
            </ol>
        {% endif %}
    </div>
</header>
